/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("green piloww");
    font-family: "pkba0GREENPIL";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pkba0GREENPIL
{
    font-family: "pkba0GREENPIL";
    fontWeight: normal;
    fontStyle: normal;
}
