/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("PEIXE FRITO");
    font-family: "pkba0PEIXE0FRITO";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: bold;
    fontStyle: normal;
}

.pkba0PEIXE0FRITO
{
    font-family: "pkba0PEIXE0FRITO";
    fontWeight: bold;
    fontStyle: normal;
}
