/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("brown bear funk");
    font-family: "pkbrown0bear0funk";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pkbrown0bear0funk
{
    font-family: "pkbrown0bear0funk";
    fontWeight: normal;
    fontStyle: normal;
}
