/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("Tombats 6");
    font-family: "pkdz0tombats06";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pkdz0tombats06
{
    font-family: "pkdz0tombats06";
    fontWeight: normal;
    fontStyle: normal;
}
