/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("EpoXY histoRy");
    font-family: "pkEpoXY0histoRy";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pkEpoXY0histoRy
{
    font-family: "pkEpoXY0histoRy";
    fontWeight: normal;
    fontStyle: normal;
}
