/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("MetaSerifSc-Book");
    font-family: "pkfs0MH121771";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pkfs0MH121771
{
    font-family: "pkfs0MH121771";
    fontWeight: normal;
    fontStyle: normal;
}
