/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("MetaSerifLf-BookIta");
    font-family: "pkfs0MH114772";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pkfs0MH114772
{
    font-family: "pkfs0MH114772";
    fontWeight: normal;
    fontStyle: normal;
}
