/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("BROKEN GHOST");
    font-family: "pkgs0BROKEN0GHOST";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pkgs0BROKEN0GHOST
{
    font-family: "pkgs0BROKEN0GHOST";
    fontWeight: normal;
    fontStyle: normal;
}
