/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("BIRTH OF A HERO");
    font-family: "pkgs0BIRTH0OF0A0HERO";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pkgs0BIRTH0OF0A0HERO
{
    font-family: "pkgs0BIRTH0OF0A0HERO";
    fontWeight: normal;
    fontStyle: normal;
}
