/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("Bleeding Cowboys");
    font-family: "pkgs0Bleeding0Cowboys";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pkgs0Bleeding0Cowboys
{
    font-family: "pkgs0Bleeding0Cowboys";
    fontWeight: normal;
    fontStyle: normal;
}
