/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("Base 02");
    font-family: "pkst0Base002";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pkst0Base002
{
    font-family: "pkst0Base002";
    fontWeight: normal;
    fontStyle: normal;
}
