/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("The Last Soundtrack");
    font-family: "pkThe0Last0Soundtrack";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pkThe0Last0Soundtrack
{
    font-family: "pkThe0Last0Soundtrack";
    fontWeight: normal;
    fontStyle: normal;
}
