/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("One Constant");
    font-family: "pktm0one0constant";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pktm0one0constant
{
    font-family: "pktm0one0constant";
    fontWeight: normal;
    fontStyle: normal;
}
