/*
 * Copyright 2011 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */


@font-face {
    src:local("Signal To Noise");
    font-family: "pktm0signal0to0noise";
    unicodeRange: U+0000-U+00FF;
    flashType: true;
    fontWeight: normal;
    fontStyle: normal;
}

.pktm0signal0to0noise
{
    font-family: "pktm0signal0to0noise";
    fontWeight: normal;
    fontStyle: normal;
}
